*.iml
.gradle
# /local.properties  # 已注释：需要上传此文件供团队测试
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/AndroidProjectSystem.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx